$foo-used: lime;
$foo: aliceblue;
$bar-not-used: blue; /* not used - simple */

$bbb: 600px;

$inter-pre: hey;
$inter-post: hey;

.u-#{$inter-pre}-#{$inter-post} {
  position: fixed;
}

@mixin less-than-pluto-not-used {
  @media (max-width: $bbb) {
    @content;
  }
}

$btn-color-not-used: black;

.test {
  width: 100px;
}

@import "components";
@import "orbit/main"; /* Included path from ./deep/include */
@import "mixin";

